/*ACCUEIL*/
img {
    height: 530px;
    width: 1500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.bienvenue {
    text-align: center;
    margin-top: 80px;
}
.texteAccueil {
    justify-content: justify;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 80px;
    margin-bottom: 80px;
}
/*BIO*/
.texteEquipe {
    text-align: justify;
    padding-right: 50px;
    padding-left: 500px;
    margin-left: 50px;

}
.titreEquipe {
    background-color: blueviolet;
    padding-left: 200px;
}
.photoEquipe, .photoHistoire, .photoProjet {
    height: 300px;
    width: 300px;
}
.photoEquipe {
    float: left;
    width: 25%;
    margin-left: 150px;
}
.titreHistoire {
    background-color: brown;
    padding-right: 240px;
    margin-top: 350px;
}
.histoire {
    text-align: right;
}
.photoHistoire {
    float: right;
    width: 25%;
    margin-top: 40px;
    margin-right: 150px;
}
.texteHistoire {
    text-align: left justify;
    background-color: yellow;
    margin-top: 50px;
    margin-right: 150px;
    padding-right: 500px;
    padding-left: 100px;
}
.titreProjet {
    background-color: red;
    padding-left: 250px;
    margin-top: 300px;
}
.photoProjet {
    float: left;
    width: 25%;
    margin-left: 150px;
    margin-top: 30px;
}
.texteProjet {
    text-align: right justify;
    background-color: pink;
    margin-top: 50px;
    margin-bottom: 350px;
    padding-right: 50px;
    padding-left: 600px;
}

/*ACTUALITÉS*/
.titresActualites {
    text-align: center;
}
.chorale {
    height: 100px;
    width: 100px;
}
.guitarePiano {
    height: 100px;
    width: 150px;
}
.musiciens {
    height: 100px;
    width: 150px;
}
.atelier {
    height: 100px;
    width: 150px;
}
#event1 {
    border: solid black 1px;
    width: 550px;
    height: 600px;
    margin-left: 150px;
    margin-top: 100px;  
}
#event2 {
    border: solid black 1px;
    width: 550px;
    height: 600px;
    margin-left: 150px;
    margin-top: 100px;
    
}
#event3 {
    border: solid black 1px;
    width: 550px;
    height: 600px;
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
}
#event4 {
    border: solid black 1px;
    width: 550px;
    height: 600px;
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
h1 {
    padding-top: 50px;
}
h3 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

/*FOOTER*/

footer {
    height: 150px;
    background-color: aquamarine;
}
.liensContact, .liensReseaux, .nomAssociation {
    text-align: center;
    margin-top: 5px;
    padding-top: 10px;
}
.mentionsLegales {
    margin-left: 5px;
    margin-right: 5px;
}
#contact, #mentions, #questions {
    color: black;
}

/*CONTACT*/
#numeroTel {
    font-weight: bold;
}
#adresseMail {
    font-weight: bold;
}
#name {
    border-radius: 5px;
    margin-bottom: 15px;
}
#prenom {
    border-radius: 5px;
    margin-bottom: 15px;
}
#email {
    border-radius: 5px;
    margin-bottom: 15px;
}
textarea {
    border-radius: 5px;
    margin-bottom: 15px;
}
.myForm {
    margin-top: 20px;
    border-radius: 5px;
    background-color: grey;
}
.infosContact {
    text-align: center;
    margin-top: 90px;
}
.infosPerso {
    margin-bottom: 30px;
}
form {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
